*{ margin:0; padding:0;}
bady{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#182130; }
div{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
table{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
td{font-family:Arial, Helvetica, sans-serif;}

a:link{ text-decoration:none; color:#000;font-size:12px;}
a:visited{ text-decoration:none; color:#000;font-size:12px;}
a:hover{ text-decoration:none; color:#00f;font-size:12px;}
a:active{ text-decoration:none; color:#000;font-size:12px;}

a.topl:link{ text-decoration:underline; color:#d6d6d4;font-size:12px;}
a.topl:visited{ text-decoration:underline; color:#d6d6d4;font-size:12px;}
a.topl:hover{ text-decoration:underline; color:#d6d6d4;font-size:12px;}
a.topl:active{ text-decoration:underline; color:#d6d6d4;font-size:12px;}

a.tabl:link{ text-decoration:none; color:#266994;font-size:12px;}
a.tabl:visited{ text-decoration:none; color:#266994;font-size:12px;}
a.tabl:hover{ text-decoration:underline; color:#266994;font-size:12px;}
a.tabl:active{ text-decoration:none; color:#266994;font-size:12px;}

.input{ vertical-align:middle;}
.clear{ clear:both;}
img{border:0px;}

.top_text{ font-size:12px; color:#FFF;}
.top_right{background:url(../images/top_rightbg.jpg) no-repeat right; padding-right:30px;}
.top_left{ padding-left:18px;}

.hleft{ background:url(../images/hleft_bg.jpg); width:8px; font-size:0px;}
.hleft_div{ position:absolute;top:50%; margin-top:-60px;}
.hleft_span{ cursor:pointer;}

.hright{ background: #45484d url(../images/main_rightbg.jpg) no-repeat top;width:10px; font-size:0px;}

.bot_text{ font-size:12px; color:#d6d6d4;}

.left_td{ width:0;padding-bottom:20px;background:#f0f0f0;}
.left_wrap{ padding:0px 10px;}
.leftdiv{ width:180px; margin-left:auto; margin-right:auto; margin-top:15px; }
.leftdiv .menuti{ border:#c9c9c9 solid 1px; background:url(../images/left_tibg.jpg); height:24px; line-height:24px; font-weight:bold; padding-left:10px; text-align:left; position:relative; }
.leftdiv .menuti span{ position:absolute; right:5px; top:3px;}
.leftdiv .menute{border:#c9c9c9 solid 1px; border-top:none; background:#FFF; padding-top:10px; padding-bottom:10px;}
.leftdiv .menute ul{}
.leftdiv .menute ul li{ list-style:none; line-height:23px; margin-top:5px; position:relative; overflow:inherit;}

.leftdiv .menute ul li ul{ position:absolute; left:178px; top:0px; width:160px; border:#c9c9c9 solid 1px; background:#efefef; padding:5px; z-index:1000;}
.leftdiv .menute ul li ul li{ list-style:none; text-align:left; background:#FFF; line-height:25px; margin-top:0; padding-left:15px;zoom:1;}

.leftdiv .menute .lmlibg{background:url(../images/left_libg01.jpg);}

a.leftm_li01:link{background:url(../images/left_libg01.jpg);  height:23px; line-height:23px; display:block; padding-left:18px;}
a.leftm_li01:visited{background:url(../images/left_libg01.jpg); height:23px; line-height:23px; display:block; padding-left:18px;}
a.leftm_li01:hover{background:url(../images/left_libg02.jpg);  height:23px; line-height:23px; display:block; padding-left:18px;}
a.leftm_li01:active{background:url(../images/left_libg01.jpg); height:23px; line-height:23px; display:block; padding-left:18px;}

a.leftm_li02:link{  height:23px; line-height:23px; display:block; padding-left:18px;}
a.leftm_li02:visited{ height:23px; line-height:23px; display:block; padding-left:18px;}
a.leftm_li02:hover{background:url(../images/left_libg02.jpg);  height:23px; line-height:23px; display:block; padding-left:18px;}
a.leftm_li02:active{ height:23px; line-height:23px; display:block; padding-left:18px;}


a.leftm_li03:link,a.leftm_li03:visited,a.leftm_li03:hover,a.leftm_li03:active{background:url(../images/left_libg02.jpg);  height:23px; line-height:23px; display:block; padding-left:18px;}


/*.leftdiv .menute ul li:hover{ background:url(../images/left_libg02.jpg);}*/
.leftdiv .menute ul li img{ vertical-align:middle; border:0px;}

.main_titile{ background:#f0f0f0; line-height:30px;border:#c9c9c9 solid 1px; margin:15px 10px 0px 10px; padding-left:10px; text-align:left;}

.main_chax{margin:10px 10px 0px 10px; overflow:hidden;}
.main_chax .chax_ti{border:#c9c9c9 solid 1px; background:url(../images/left_tibg.jpg); height:24px; line-height:24px; font-weight:bold; padding-left:10px; text-align:left; color:#004392;}

.main_chax .chax_te{border:#c9c9c9 solid 1px; border-top:none; padding:10px;  }

.an_btn{ padding:2px 10px;padding:3px 10px \9; background:url(../images/tab_tibg.jpg); border:#c9c9c9 solid 1px; +display:inline-block;}
.an_btn img {vertical-align:middle;}


.chax_btn{ width:62px; height:22px; background:url(../images/chax_btbg.jpg); cursor:pointer; border:0px; padding-left:10px;}

.main_caoz{background:#f0f0f0;border-left:#c9c9c9 solid 1px;border-right:#c9c9c9 solid 1px; margin:0px 10px; padding:5px 10px; text-align:left; position:relative; height:25px;}

.main_caoz span{position:absolute; right:10px; top:8px;}
.main_caoz span img{ vertical-align:middle;}

.main_tab_warp{margin:0px 10px;position:relative;}
.main_tab_warp #showdepartment{ width:120px; border:1px #365267 solid; background:#fff; padding:10px; display:none; position:absolute; right:10px; top:20px; z-index:10000;}
.main_tab_warp #showdepartment ul li{ list-style:none;}
.button{ height:22px; background:url(../images/btn_bg1.gif) repeat-x; border:#c1c3c5 solid 1px; font-size:12px; line-height:22px;  padding: 0 7px;*padding: 0 3px; cursor:pointer;}

.main_tabti{ overflow-x:auto; width:760px; border:#c9c9c9 solid 1px;}
.main_tabti .tab_ti{ background:#c9c9c9; width:100%; line-height:23px;}

.main_tabti .tab_ti td{ background:url(../images/tab_tibg.jpg); text-align:left; padding-left:5px;padding-right:5px; font-weight:bold; white-space:nowrap; border-bottom:#ededed solid 1px;}
.main_tabti .tab_ti .tdhead{ background:url(../images/td_headbg.jpg) no-repeat left;}
.main_tabti .tab_ti .tdhead02{ background:url(../images/td_headbg02.jpg) no-repeat left;}
.main_tabti .tab_ti .td01{ background:#ffffff; font-weight:normal;}
.main_tabti .tab_ti .td02{ background:#fafafa; font-weight:normal;}

.main_tabti .tab_te{ background:#c9c9c9; width:100%;border-left:#c9c9c9 solid 1px;;border-right:#c9c9c9 solid 1px;}
.main_tabti .tab_te td{  line-height:25px;background:#fff; text-align:left; padding-left:5px;border-bottom:#ededed solid 1px;}
.main_tabti .tab_te .td02{ background:#fafafa; border-bottom:#ededed solid 1px;}

.main_tabfy{background:#f0f0f0;border:#c9c9c9 solid 1px; border-top:none; line-height:30px; margin: 0px 10px; padding:5px 10px 5px 10px; text-align:right;}

.main_tabfy a{ font-weight:bold; color:#00F;}
.main_tabfy a:hover{ font-weight:bold; color:#00F;}
.main_tabfy img{ vertical-align:middle;}

/*弹出层样式 S*/
html,body{height:100%; }
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);display:none;}
#win{position:absolute;top:50%;left:50%;width:880px;height:520px;margin:-262px 0 0 -442px;display:none; z-index:10000;}
#win h2{font-size:12px;height:18px; line-height:18px;text-align:left; color:#043c8f;background:#f5f5f5;padding:5px; width:860px; margin:0 auto;cursor:move; position:relative;}
#win h2 span{cursor:pointer;padding:0 2px; position:absolute; right:5px;}
#win .win_main{ background: #FFF url(../images/cengcen2.gif); height:513px;}

.win_ifrwrap{width:860px; margin:0 auto;}
.win_mte{  overflow:hidden; padding:0px 0px 10px 0px;}
.win_mtel{ float:left; width:140px; background:#e4e4e4;}
.win_mtel img{ vertical-align:middle; margin-right:5px;}
.win_mtel h3{ text-align:left; padding:10px; font-size:12px; font-weight:normal;} 
.win_mtel ul{ float:right;}
.win_mtel ul li{ list-style:none; text-align:left;}

a.win_mlli01:link{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg02.jpg); display:block;}
a.win_mlli01:visited{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg02.jpg); display:block;}
a.win_mlli01:hover{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg01.jpg); display:block;}
a.win_mlli01:active{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg02.jpg); display:block;}

a.win_mlli02:link{ text-decoration:none;width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg01.jpg); display:block;}
a.win_mlli02:visited{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg01.jpg); display:block;}
a.win_mlli02:hover{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg01.jpg); display:block;}
a.win_mlli02:active{ text-decoration:none; width:105px;padding-left:18px; line-height:23px; background:url(../images/win_mllibg01.jpg); display:block;}


.win_mter{ float:right; width:700px; height:475px; overflow-x:hidden; overflow-y:auto; position:relative;}
.win_mter img{ vertical-align:middle;}
.win_mter .win_mtrtop{ line-height:25px; text-align:right; padding:10px;}
.win_mter .win_mtrtab{}
.win_mter .win_mtrtab table{ width:100%; background:#c9c9c9;}
.win_mter .win_mtrtab td{ padding-left:5px; text-align:left; background:#fbfbfb; height:25px;}
.win_mter .win_mtrtab th{ padding-left:5px; text-align:left; background:#fbfbfb;height:25px;}
.win_mter .win_mtrti{border:#c9c9c9 solid 1px; background:url(../images/left_tibg.jpg); height:24px; line-height:24px; font-weight:bold; padding-left:10px; text-align:left; color:#004392; margin-top:10px; position:relative;}
.win_mter .win_mtrti span{ position:absolute; right:5px; top:3px;}

.win_tab_warp{position:relative; }
.win_tab_warp .showdepartment2{ width:120px; border:1px #365267 solid; background:#fff; padding:10px; display:none; position:absolute; right:10px; top:20px; z-index:10000;}
.win_tab_warp .showdepartment2 ul li{ list-style:none;}

.win_tabti{ overflow-x:auto;overflow-y:hidden; width:698px; border:#c9c9c9 solid 1px; border-top:none;}
.win_tabti .tab_ti{ background:#c9c9c9; width:100%; line-height:23px;}
.win_tabti .tab_ti td{ background:url(../images/tab_tibg.jpg); text-align:left; padding-left:5px;padding-right:5px; font-weight:bold; white-space:nowrap;border-bottom:#ededed solid 1px;}
.win_tabti .tab_ti .tdhead{ background:url(../images/td_headbg.jpg) no-repeat left;}
.win_tabti .tab_ti .tdhead02{ background:url(../images/td_headbg02.jpg) no-repeat left;}
.win_tabti .tab_ti .td01{ background:#ffffff; font-weight:normal;}
.win_tabti .tab_ti .td02{ background:#fafafa; font-weight:normal;}
.win_tabti .tab_te{ background:#c9c9c9; width:100%;border-left:#c9c9c9 solid 1px;;border-right:#c9c9c9 solid 1px;}
.win_tabti .tab_te td{  line-height:25px;background:#fff; text-align:left; padding-left:5px;border-bottom:#ededed solid 1px;}
.win_tabti .tab_te .td02{ background:#fafafa; border-bottom:#ededed solid 1px;}

/*弹出层样式 O*/


/*END*/

.table01 td{ height:35px; word-break:break-all;}
.td_01{text-align:left;}
.td_02{text-align:right;}
.td_03{text-align:center;}
.table02{ height:33px;  background:url(../images/table_tibg01.jpg);}
.table02 td{height:33px;}
.table02_td01{ background:#FFF;}
.table02_td02{ background:#eef2f3;}

